<div class="container mx-auto px-4 py-8" *ngIf="currentFood">
  <h1 class="text-3xl font-bold text-center mb-8 text-muted-green-700">{{ currentFood.name }} - {{ currentFood.datePublished }}</h1>

  <div  class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
    <div class="md:flex">
      <div class="md:flex-shrink-0">
        <img class="h-48 w-full object-cover md:w-48" [src]="currentFood.imageURI" [alt]="currentFood.name">
      </div>
      <div class="p-8">
        <div class="uppercase tracking-wide text-sm text-muted-green-500 font-semibold">Guess the Calories</div>
        <p class="mt-2 text-gray-500">How many calories do you think are in this {{ currentFood.name }}?</p>

        <div *ngIf="revealedMacro" class="mt-4 text-muted-green-600">
          {{ revealedMacro }}
        </div>

        <div class="mt-4">
          <input
            type="number"
            [(ngModel)]="userGuess"
            [disabled]="gameOver"
            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-muted-green-300 focus:ring focus:ring-muted-green-200 focus:ring-opacity-50"
            placeholder="Enter your guess">
        </div>

        <button
          (click)="submitGuess()"
          [disabled]="gameOver"
          class="mt-4 px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-muted-green-600 hover:bg-muted-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-muted-green-500 disabled:opacity-50"
        >
          Submit Guess
        </button>

        <div *ngIf="feedback" class="mt-4 text-sm" [ngClass]="{
          'text-green-600': feedback.includes('Excellent') || feedback.includes('Good Job'),
          'text-yellow-600': feedback.includes('Close'),
          'text-red-600': feedback.includes('Too') || feedback.includes('Game over')
        }">
          {{ feedback }}
        </div>

        <div class="mt-4 flex items-center">
          <span class="mr-2 text-sm text-gray-500">Guesses left: {{ guessesLeft }}</span>
          <div class="flex space-x-2">
            <ng-container *ngFor="let guess of guesses">
              <span class="inline-flex items-center justify-center w-6 h-6 rounded-full"
              [ngClass]="{
                'bg-green-100': getGuessIcon(guess) === 'check',
                'bg-red-100': getGuessIcon(guess) === 'arrow-up',
                'bg-blue-100': getGuessIcon(guess) === 'arrow-down'
              }">
                <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    [ngClass]="{
                      'text-green-800': getGuessIcon(guess) === 'check',
                      'text-red-800': getGuessIcon(guess) === 'arrow-up',
                      'text-blue-800': getGuessIcon(guess) === 'arrow-down'
                    }">
                  <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={4} [attr.d]="getIconPath(getGuessIcon(guess))"/>
                </svg>
              </span>
            </ng-container>

            <ng-container *ngFor="let guessLeft of createRange(guessesLeft)">
              <span class="inline-flex items-center justify-center w-6 h-6 rounded-full bg-gray-200"></span>
            </ng-container>
          </div>
        </div>

        <button
          *ngIf="gameOver"
          (click)="nextFood()"
          class="mt-4 px-4 py-2 border border-transparent text-sm font-medium rounded-md text-muted-green-700 bg-muted-green-100 hover:bg-muted-green-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-muted-green-500"
        >
          Next Food
        </button>
      </div>
    </div>
  </div>
</div>
